*.wav
*.mp4
*.m4v
bin/data/.gitkeep
*.mpeg
bin/data/1464876525 2m 5s 20s/concat.txt
concat.txt
bin/data/temp/list.txt
glyphicons_free/_changelog.txt
glyphicons_free/_license.txt
obj/
thesis.qbs.user
bin/thesis_debug.exe
bin/libsndfile-1.dll
bin/libsndfile-1.lib
*.dll
glyphicons_free/
*.exe
